/**
* DnD Kit works best with border-box sizing.
* This ensures that padding and borders are included in the element's total width and height.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
